.Hero_section {
    width: 100vw;
    height: 100vh;
    background: url('../../images/PA.png');
    background-size: cover;
    font-size: 18px;
}

.hero_content {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero_heading {
    margin: 20px 0;
    color: white;
    font-size: 2em;
}
.hero_heading > p{
    color:#FF4240;
}

.hero_subheading {
    color: whitesmoke;
    margin: 10px 0;
    line-height: 2;
    font-size: 1.2em;
    padding: 0 10px;

}

.hero_checkout {
    cursor: pointer;
    margin-top:40px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: #FF4240;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
}

.hero_checkout:hover {
    background: #f66260;
}



@media screen and  (min-width:800px) and (max-width:1080px){
    .hero_content {
        position: absolute;
        top: 100px;
        left: 100px;
        width: 500px;
    }
}

@media screen and  (min-width:1080px){
    .hero_content {
        position: absolute;
        top: 100px;
        left: 100px;
        width: 500px;
    }
} 