.about_page {
    background-color: white;
}

.aboutpage_title {
    margin-top: 10px;
    text-align: center;
    color: #FF4240;
}
.about_page_moto {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    padding: 5em 0;
}
.about_page_moto > h1 {
    margin-bottom: 15px;
}


.section {
    width: 100%;
    padding: 5em 1em;
    text-align: center;
}

.section > h3 {
    padding: 10px 0;
}

.section > p {
    margin: 15px 0;
}

.section_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_list > div {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 3px solid black;
    margin: 10px 0;
    padding: 10px 20px;
    background: white;
}

.com_bg {
    background-color: #f3f6f5 !important;
}

.btn {
    margin: 20px 0;
    color: #FF4240;
    font-weight: bold;
}


@media screen and  (min-width:801px) and (max-width:1080px){
    .about_page_moto {
        width: 60%;
        text-align: center;
    }
    .section {
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }

    .section_title {
        padding: 10px 0;
    }

    .section_list {
        display: flex;
        flex-direction: column;
    }
}

@media screen and  (min-width:1080px){
    .about_page_moto {
        width: 60%;
        text-align: center;
    }
    .section {
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }

    .section_title {
        padding: 10px 0;
    }

    .section_list {
        display: flex;
        flex-direction: column;
    }
    
}