.about_page {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutpage_title {
    margin-top: 10px;
    text-align: center;
    color: var(--primary);
}


.about_section {
    width: 100%;
    height: 70vh;
    padding: 5em 10em;
    font-size: 0.8em;
    background: #E2E2E2;
        
}

.about_section_content {
    padding: 3em 3em;
    background: aliceblue;
}

hr {
    background: gray;
    width: 80% !important;
}

.section_list {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: orangered;
    
    
}

.section_list > div {
    width: 350px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 3px solid var(--primary);
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 5px;
    background: white;
}


.btn {
    margin: 20px 0;
    color: var(--primary);
    font-weight: bold;
}


@media screen and  (min-width:801px) and (max-width:1080px){
    .about_section {
        padding: 20px 100px;
    }

    .section_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .section_list > div {
        margin: 20px 40px 20px 0;
    }
}

@media screen and  (min-width:1080px){
    .about_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 0 300px;
        height: 90vh;
    }

    .section_title {
        padding: 10px 0;
        
    }

    .section_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .section_list > div {
        margin: 20px 40px 20px 0;
    }
    
}