.about_page {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutpage_title {
    margin-top: 10px;
    text-align: center;
    color: var(--primary);
}
.about_page_moto {
    background: url('../../images/promise.jpg');
    /* filter: blur(5px); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* text-align: center; */
    font-size: 0.8em;
    padding: 6em 15px;
    color: white;
}

.about_page_moto > h2 {
    margin-bottom: 50px;
    
}


.section {
    width: 100%;
    padding: 5em 1em;
    /* text-align: center; */
    font-size: 0.8em;
    margin: 5em 0;
        
}

.section > h3 {
    padding: 10px 0;
}

.section > p {
    margin: 30px 0;
}

.section_list {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: orangered;
    
    
}

.section_list > div {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 3px solid var(--primary);
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
}


.btn {
    margin: 20px 0;
    color: var(--primary);
    font-weight: bold;
}


@media screen and  (min-width:801px) and (max-width:1080px){
    .about_page_moto {
        height: 100vh;
        padding: 100px 100px;
    }
    .section {
        padding: 20px 100px;
    }

    .section_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .section_list > div {
        margin: 20px 40px 20px 0;
    }
}

@media screen and  (min-width:1080px){
    .about_page_moto {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 100px 300px;
    }
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 0 250px;
        height: 100vh;
    }

    .section_title {
        padding: 10px 0;
        
    }

    .section_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .section_list > div {
        margin: 20px 40px 20px 0;
    }
    
}