.Footer {
    color: white;
    padding: 10px 10px;
    background: #1E2222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.Footer > div {
    display: flex;
    padding: 40px 0;
}
.Footer p {
    font-size: 15px;
}
.Footer > div  p {
    margin: 0 10px;
}


.white_icon {
    color: white;
}



@media screen and  (min-width:300px) and  (max-width:800px){

}

@media screen and  (min-width:801px) and (max-width:1080px){

}

@media screen and  (min-width:1080px) {
    

}