.Footer {
    color: white;
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.9);
    font-size: 15px !important;
}

.Footer > p {
    margin: 10px 0;
}


.footer_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 15px 0;
}

.footer_logo {
    padding: 10px 0;
}

.footer_social {
    margin-top: 10px;
}

.footer_logo > b {
    font-size: 20px;
}

.footer_nav > li {
    cursor: pointer;
    padding-top: 5px;
}

.footer_nav > li:hover {
    color:white !important;
}
.footer_middle {
    display: flex;
    flex-direction: column;
}
.footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    color: white !important;
}

.footer_bottom > p {
    display: flex;
    align-items: center;
    font-size: 1em;;
}

.footer_bottom a {
    margin: 0 10px;
}

.footer_bottom a:hover {
    color: grey;
}



@media screen and  (min-width:300px) and  (max-width:800px){
   .contact_section_one {
    margin: 50px 0;
   }
   .contact_section_form input, textarea {
    width: 450px;
   }
}


@media screen and  (min-width:801px) and (max-width:1080px){
   .contact_section_one {
    margin: 50px 0;
   }
   .contact_section_form input, textarea {
    width: 450px;
   }
  }
  @media screen and  (min-width:1080px) {
    .contact_section_one {
    margin: 50px 0;
   }
   .contact_section_form input, textarea {
    width: 500px;
   }

   .footer_middle {
    display: flex;
   }
  }