
.section_legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1em;
}

.section_legal p{
  padding: 5px 0;
}

@media (min-width:768px) and (max-width:1080px){
    .section_legal {
      padding: 20px 200px;
    };
  }
  @media (min-width:1081px){
    .section_legal {
      padding: 20px 300px;
    };
  }