.investors_section {
    margin: 20px 20px;
}

.section_title{
    margin: 10px 0;
}

.link {
    color: var(--primary);
    font-weight: 500;
}


/* Letter page */

.Letters {
}

.letter_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.letter_section > p {
    padding: 20px 0;
}

.ceo_sign {
    color: var(--primary);
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-weight: 500;
    margin: 30px 20px;
}

/* Principles page */

.principles >h3 {
    width: 90%;
    margin: 30px auto;
    padding: 2em;
}
.principles_section {
    background: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
}

.principles_section > h2 {
    margin: 10px 0;
}

.principles_section > h6 {
    margin: 10px auto;
    color: gray;
    font-weight: 400;
}

.principles_list {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.principles_list > div {
    background: var(--primary);;
    color: white;
    margin: 15px 10px;
    padding: 15px 25px;
}

.com_backg {
    background: aliceblue;
}

@media screen and  (min-width:300px) and  (max-width:800px){
   
 }
 
 
 @media screen and  (min-width:801px) and (max-width:1080px){
    .investors_section {
        margin: 20px auto;
        padding: 20px 200px;
    }
    .letter_section,.ceo_sign {
        width: 70%;
        margin: 50px auto;
    }
}


@media screen and  (min-width:1080px){
    .investors_section {
        margin: 20px auto;
        padding: 20px 300px;
    }

    .letter_section,.ceo_sign {
       padding: 50px 300px;
       margin: 30px 0;
    }

    .principles_section {
        padding: 3em 0;
    }

    .principles >h3 {
        padding: 150px 300px;
        line-height: 2em;
    }

    .principles_list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .principles_list > div {
        width: 400px;
    }
    
}