
.application_section {
    font-size: 1em;
    margin-top: 50px;
}

.page_title > span {
    background: #fb7674;
    color: white;
    padding: 0 10px;
}
.application_section > div {
    margin: 20px 20px;
    text-align: center;
}
.application hr {
    margin: 20px 0;
}
.job_name {
    color: #fb7674;
}
.e-form-div{
    margin: 1em 0;
    font-size: 1.5em;
}
.list-p-info-div{
    width: 50%;
    margin: 1em 1em 1em auto;
    color: #5a5a5a;
}
.list-p-inf-wrap input{
    outline: none;
    padding: 0.75em 7.5em 0.75em 1em;
    border-radius: 5px;
    border: 0.5px solid #5a5a5a;
    width: 80%;
}
.list-res{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
    width: 25%;
}
.list-res span{
    font-size: 0.5em;
}
.list-p-info-div h1{
    font-size: 0.75em;
    margin-bottom: 2.5em;
}
.list-p-info-div h2{
    font-size: 0.5em;
}
.list-p-info-div label{
    font-size: 0.5em;
    font-weight: 500;
}
.list-p-inf-wrap{
    display: flex;
    gap: 2.5em;
    margin-bottom: 1em;
}
.list-p-inf-wrap div{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.list-p-info-div p{
    font-size: 0.5em;
}
.wrap-list-ack label{
    font-size: 0.55em;
}
.wrap-list-ack p{
    font-size: 0.55em;
}
.wrap-list-ack div{
    display: flex;
    align-items: center;
}
.dis-div-wrap{
    width: 90%;
    margin: 0 auto 2.5em auto;
    color: #5a5a5a;
}
.dis-div-wrap p{
    font-size: 0.5em;
}
.dis-div-wrap label{
    font-size: 0.55em;
}
.disc-div-sel{
    display: flex;
    gap: 1.5em;
    margin-top: 1.5em;
}
.disc-div-sel div{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.disc-div-sel div select{
    outline: none;
    padding: 0.75em 7.5em 0.75em 1em;
    border-radius: 5px;
    border: 0.5px solid #5a5a5a;
}
.list-p-info-div button{
    width: 100%;
    background-color: var(--primary);
    color: white;
    font-size: 0.55em;
    border: none;
    border-radius: 5px;
    padding: 0.5em 5em;
    cursor: pointer;
    font-weight: 700;
    transition: 0.25s;
    margin-top: 2.5em;
}
.list-p-info-div button:hover{
    transition: 0.25s;
    background-color: #d4664a;
}
.dis-chk-bx{
    margin-top: 1.5em;
}
.dis-div-wrap h1{
    font-size: 0.75em;
    margin-bottom: 1.5em;
}
.dis-div-wrap h2{
    margin-top: 2.5em;
    font-size: 0.5em;
}
.dis-div-wrap hr{
    border: 0.5px solid darkgray;
}

.brief-div-wrp{
    width: 90%;
    margin: 2.5em auto 0 auto;
}
.brief-div-wrp p{
    font-size: 0.55em;
}
.brief-div-wrp h1{
    font-size: 1em;
    font-family: 'D-DIN DIN-Bold';
    color: #5a5a5a;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
    align-items: center;
}


@media (min-width:300px) and (max-width:800px){
    .list-p-info-div{
        width: 90%;
        margin: 0 auto;
    }
    .list-p-inf-wrap, .disc-div-sel{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}


@media screen and  (min-width:801px) and (max-width:1080px){
    .application_section {
        width: 50%;
        margin: 50px auto;
    }
    .e-form-div {
        font-size: 2em;
    }

    
    .list-p-inf-wrap{
        display: flex;
        gap: 1em;
        margin-bottom: 1em;
    }

    .disc-div-sel {
        flex-direction: column;
    }
}
@media screen and  (min-width:1080px){
    .application_section {
        width: 50%;
        margin: 50px auto;
    }
    .e-form-div {
        font-size: 2em;
    }
}