.career_section,.jobs_section {
/*    padding: 5em 1em;*/
font-size: 0.8em;
/*    height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;

}

.career_section > div {
    padding: 20px 0;
}

.career_section img {
    display: none;
}

.jobs_section b {
    text-decoration: underline;
}


.job {
    color: var(--primary);
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
}

.job:hover {
    border-bottom: 1px solid var(--primary);
}

.career_section p {

    /* color: grey; */
/*    margin-bottom: 10px;*/
}

.com_bg {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}


@media screen and  (min-width:300px) and  (max-width:800px){
}
 
 
@media screen and  (min-width:800px) and (max-width:1080px){
    .career_section {
        display: flex;
        align-items: center;
        justify-content: center;
/*        margin: 20px 50px;*/
        padding: 20px 50px;
    }

    .career_section > div {
        flex: 0.5;
        padding: 0 20px;
    }

    .career_section img {
        display: block;
        width: 300px;
        height: 300px;
    }
    .jobs {
    }
    .jobs > div, b  {
        margin: 50px;
    }

    .jobs_section {
        height: 100vh;
        display: flex;
        margin: auto 0;
        padding: 50px 100px;
    }
}
@media screen and  (min-width:1080px){
    .career_section {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
/*        margin: 20px 50px;*/
        padding: 20px 100px;
    }

    .career_section > div {
        flex: 0.5;
        padding: 0 20px;
    }

    .career_section img {
        display: block;
        width: 500px;
        height: 500px;
    }
    .jobs {
    }
    .jobs > div, b  {
        margin: 50px;
    }

    .jobs_section {
        height: 100vh;
        display: flex;
        margin: auto 0;
        padding: 50px 100px;
    }

}