.career_section {
    padding: 1em;
    font-size: 1em
}

.career_section > div {
    margin: 20px 0;
}

.career_section b {
    text-decoration: underline;
}
.job {
    color: var(--primary);
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
}

.job:hover {
    display: inline-block;
    border-bottom: 1px solid var(--primary);
}

.career_section p {
    /* color: grey; */
    margin-bottom: 10px;
}


@media screen and  (min-width:300px) and  (max-width:800px){
}
 
 
@media screen and  (min-width:800px) and (max-width:1080px){
    .career_section {
        display: flex;
        flex-direction: column;
        margin: 0 50px;
        padding: 20px 200px;
    }
    .jobs {
        display: flex;
    }
    .jobs > div {
        margin-right: 50px;
    }
}
@media screen and  (min-width:1080px){
    .career_section {
        margin: 0 50px;
        padding: 20px 300px;
    }
    .jobs {
        display: flex;
    }
    .jobs > div {
        margin-right: 50px;
    }

}