.contact_section {
    padding: 10px;
}


.contact_section_one {
    width: 100%;
}

.contact_section_one > img {
    object-fit: contain;
    width: 100%;
}


.contact_section_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.contact_section_form > form {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 80%;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid grey;
}

.submitbtn {
    cursor: pointer;
    background: var(--primary);;
    border: none !important;
    color: white;
    font-weight: 600;
}


@media screen and  (min-width:300px) and  (max-width:800px){
    .contact_section_form input, textarea {
        width: 450px;
    }
}


@media screen and  (min-width:801px) and (max-width:1080px){
    .contact_section {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
   .contact_section_form input, textarea {
    width: 450px;
   }
}

@media screen and  (min-width:1080px){
.contact_section {
    display: flex;
    height: 100vh;

}
.contact_section_one {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_section_one > img {
    display: block;
    object-fit: contain;
    width: 450px;
}

.contact_section_form {
    flex: 0.5;
}
.contact_section_form input, textarea {
width: 500px;
}
}