.contact{
    font-family: 'D-DIN Regular';
    font-size: 30px;
    color: black;
}
.con-main-div{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(175px, auto);
}
.con-main-div-wrap{
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.con-main-div-wrap h2{
    font-size: 1.25em;
}


.con-ad-div-wrap{
    width: 87.5%;
    margin: 2.5em auto;
}
.con-ad-div-wrap h2{
    font-size: 0.75em;
    color: #5a5a5a;
}
.con-ad-div-wrap h4{
    font-size: 0.55em;
    color: #5a5a5a;
    margin: 0;
    font-weight: 500;
}
.con-ad-div-wrap h3{
    font-size: 0.55em;
    color: #5a5a5a;
    margin-top: 0.25em;
    font-weight: 500;
}

.txt-wri-con-div-wrap{
    width: 87.5%;
    margin: 0 auto;
}
.txt-wri-con-div-wrap h1{
    font-size: 1.25em;
}
.txt-wri-con-div-wrap form{
    margin: 0 auto 2.5em auto;
    display: flex;
    justify-content: space-between;
}
.txt-wri-con-div-wrap input{
    outline: none;
    padding: 1em 1em;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'D-DIN Regular';
}
.txt-wri-con-div-wrap textarea{
    border-radius: 5px;
    padding: 0.75em 1em 5em 1em;
    outline: none;
    border: 1px solid black;
    font-family: 'D-DIN Regular';
}
.txt-wri-con-div-wrap button{
    width: 15%;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
    font-family: 'D-DIN Regular';
}
.txt-wri-con-div-wrap form div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sec-div-form{
    width: 25%;
}
.sec-div-txt-form{
    width: 70%;
}


@media all and (max-width:750px){
    .txt-wri-con-div-wrap form{
        display: flex;
        flex-direction: column;
    }
    .sec-div-form{
        width: 100%;
    }
    .sec-div-txt-form{
        width: 100%;
        margin-top: 1em;
    }
    .sec-div-txt-form button{
        width: 50%;
    }
}

@media (min-width:768px) and (max-width:1080px){
    .one-sec-div-main-wrap{
      grid-row: 1/8;
    }
  }
  @media (min-width:1081px) and (max-width:1200px){
    .one-sec-div-main-wrap{
      grid-row: 1/6;
    }
  }