.home {
	font-size: 20px;
}

.home_section {
	height: 100vh;
	display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1em;
}

.home_section > div {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home_section p {
	padding: 25px 0;
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
}

.sec_sustain {
	background:linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.85)), url(../../images/susf.jpeg);
  background-size: cover;
  background-attachment:fixed;
  position: relative;
  color: white;
}
.sec_usa {
background:linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.85)), url(../../images/usa.jpg);
  background-size: cover;
  background-attachment:fixed;
  position: relative;
  color: white;
}

.sec_join_us {
	background:linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.85)), url(../../images/three.jpg);
  background-size: cover;
  background-attachment:fixed;
  position: relative;
  color: white;
}

.home_section button {
	border: 1px solid #FF4240;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    color: #FF4240;
    background: transparent;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
}


.home_section button:hover {
    background: #FF4240;
    color: white;
}



@media screen and  (min-width:801px) and (max-width:1080px){
   .home_section {
		padding-left: 50px;
	}
	.home_section > div{
		width: 50%;
	}
 }

@media screen and  (min-width:1080px){
	.home_section {
		padding-left: 50px;
	}
	.home_section > div{
		width: 50%;
	}
}