/* .home {
	font-size: 20px;
} */

.large {
  font-size: 3rem;
}
.hero_section {
  font-size: 15px;
  height: 100vh;
  background: url('../../images/PA.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* font-size: 18px; */
  color: #fff;
}

.section_container {
  display: flex;
  flex-wrap: wrap;
  background: grey;
}

.hero_section_content {
  padding-top: 150px;
  text-align: center;
}

.hero_heading > p {
  color: var(--primary);;
}

.hero_checkout {
  background: var(--primary);;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.hero_subheading {
  width: 90%;
  margin: 30px 0;
}

.home_section {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  line-height: 75px;
  /* flex: 0.5;
  height: 100vh;
	display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; */
  font-size: 0.8em;
}


.home_section img {
  width: 100%;
  height: 100%;
}

.home_section_content {
  background: white;
  color: black;
  margin: 0 50px;
  transform: translateY(-50px);
}

.home_section > div {
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home_section p {
  width: 70%;
	padding: 25px 0;
  line-height: 30px;
  font-weight: 400;
  /* font-size: 20px; */
}

.home_section button {
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 20px;
    color: white;
    background: var(--primary);
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
}


.home_section button:hover {
    background: var(--primary);;
    color: white;
}

.sec_sustain, .sec_join_us {
  background: #fff;
}



@media screen and  (min-width:800px) and (max-width:1080px){
  .home_section {
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 75px;
	}
	.home_section > div{
		flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
	}

  .home_section > div > p {
    width: 300px;
  }

  .home_section img {
    display: block;
    width: fit-content;
    height: 400px;
  }
  
.hero_section {
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background: url('../../images/PA.png');
  background-size: cover;
  font-size: 18px;
  color: #fff;
}

.section_container {
  display: flex;
  flex-wrap: wrap;
  background: #000000;
  
}

.hero_section_content {
  width: 70%;
  position: absolute;
  top: 50px;
  left: 100px;
  text-align: left;

}

.hero_subheading {
  width: 50%;
  margin: 30px 0;
}
 }

@media screen and  (min-width:1080px){
	.home_section {
    display: flex;
    align-items: center;
    line-height: 75px;
    height: 100vh;
	}


	.home_section > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	}

  .home_section_content {
    flex: 0.1;
    border-radius: 6px;
    color: black;
    padding: 20px 10px;
    position: relative;
    background: white;
    /* transform: translateX(-300px ); */
    box-shadow: 2px 2px 17px 1px rgba(0, 0, 0, 0.3);
  }

  .sec_join_us>.home_section_content, .sec_sustain>.home_section_content{
    transform: translateX(300px );
  }

  .sec_usa > .home_section_content, .sec_about > .home_section_content {
    transform: translateX(-300px);
  }

  .home_section > div > p {
    width: 500px;
  }

  .home_section_imge {
    height: 90%;
    flex: 1;
  }

  .home_section img {
    width: 100%;
    height: 100%;
  }
  
.hero_section {
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background: url('../../images/PA.png');
  background-size: cover;
  font-size: 18px;
  color: #fff;
}

.section_container {
  display: flex;
  flex-wrap: wrap;
  background: #000000;
}

.hero_section_content {
  width: 50%;
  position: absolute;
  top: 20px;
  left: 100px;
  text-align: left;
}

.hero_subheading {
  width: 50%;
  margin: 20px 0;
}
}