
.Navbar {
    margin: 0px 20px;
    color:black;
    background: #d0cdcd;
    padding: 0px 20px;
    position: sticky;
    top: 5px;
    z-index: 1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.navbar_logo {
    font-size: 30px;
    cursor: pointer;
}

.navbar_nav {
    display: flex;
}

.navList {
    margin: 0 15px;
    color: #2d2d2d;
    cursor: pointer;
}


.navbar_contact   {
    padding: 5px 10px;
    border-radius: 8px;
    outline: none;
    border:none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #FF4240;
}

.active {
    color: #000;
    font-weight: 500;
    margin: 0 15px;
}