
.Navbar {
    margin: 0 auto;
    width: 98vw;
    padding: 0 15px;
    color: white;
    background: rgba(47, 47, 47, 0.4);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: sticky;
    top:0;
    z-index: 1;
    height: 45px;
}


.navbar_logo {
    font-size: 30px;
    cursor: pointer;
}

.navbar_phone {
    display: flex;
}

.navbar_desktop {
    display: none;
}

.navbar_phone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar_phone_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal nav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}



.navList {
    margin: 15px 0px;
    color: whitesmoke;
    cursor: pointer;

}

.navbar_contact  {
    border-radius: 8px;
    outline: none;
    border:none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #FF4240;
    padding: 0 10px;
    margin: 20px 0;
}

.active {
    color: white;
    font-weight: 500;
    margin: 15px 0;
    border-bottom: 2px solid #FF4240;
}


@media screen and  (min-width:300px) and  (max-width:800px){
   
    .navbar_phone {
        display: flex;
    }

    .navbar_desktop {
        display: none;
    }
}

@media screen and  (min-width:801px) and (max-width:1080px){
   .navbar_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .navbar_phone {
    display: none;
   }
   .navList {
    margin: 0 20px;
   }
   .navbar_contact {
    margin: 0;
   }
}
  @media screen and  (min-width:1080px){
   .navbar_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
   } 

   .navList {
    margin: 0 20px;
   }
   .navbar_phone {
    visibility: hidden;
   }
   .navbar_contact {
    margin: 0;
   }

}