
.Navbar {
    color: black;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 15px;
    /* font-size: 0.8em; */
}


.navbar_phone {
    height: 60px;
    display: flex;
    color: white;
}

.navbar_desktop {
    display: none;
}

.navbar_phone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar_phone_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal nav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.navList {
    font-size: 0.9em;
    margin: 15px 0px;
    color: white;
    cursor: pointer;
    padding: 5px 0;

}


.active {
    font-weight: 600;
    margin: 15px 0;
}


@media screen and  (min-width:300px) and  (max-width:800px){
   
    .navbar_phone {
        display: flex;
        height: 50px;

    }

    .navbar_desktop {
        display: none;
    }
}

@media screen and  (min-width:805px) and (max-width:1080px){
    .navbar_desktop {
       height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
   }
   .navbar_phone {
    display: none;
   }
   .navList {
    margin: 0 20px;
   }
   .navbar_contact {
    margin: 0;
   }
}
  @media screen and  (min-width:1080px){
   .navbar_desktop {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
   } 

   .navList {
    margin: 0 20px;
    color: black;
   }

   .navbar_phone {
    display: none;
    }
   .navbar_contact {
    margin: 0;
   }

}