
.Navbar {
    color: white;
    background: #1E2222;
    /* background: rgba(0, 0, 0, 0.8); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: sticky ;
    top:0;
    z-index: 1;
    height: 50px;
    padding: 5px 15px;
}

.main-header-wrap {
    color: white;
}

nav {
    font-size: 0.9em;
}
.main-header-wrap h1{
    font-family: 'Imbue', serif;
    font-size: 1.5em;
    cursor: pointer;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}
.main-header-wrap span{
    color: #C0C0C0;
}


.navbar_logo {
    font-size: 30px;
    cursor: pointer;
}

.navbar_phone {
    display: flex;
}

.navbar_desktop {
    display: none;
}

.navbar_phone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar_phone_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal nav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}



.navList {
    margin: 15px 0px;
    color: whitesmoke;
    cursor: pointer;
    padding: 5px 0;

}

.navbar_contact  {
    background: transparent;
    border:none;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    color: var(--primary);
    margin: 20px;
}

.active {
    color: white;
    font-weight: 500;
    margin: 15px 0;
    border-bottom: 2px solid var(--primary);
}


@media screen and  (min-width:300px) and  (max-width:800px){
   
    .navbar_phone {
        display: flex;
    }

    .navbar_desktop {
        display: none;
    }
}

@media screen and  (min-width:805px) and (max-width:1080px){
   .navbar_desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .navbar_phone {
    display: none;
   }
   .navList {
    margin: 0 20px;
   }
   .navbar_contact {
    margin: 0;
   }
}
  @media screen and  (min-width:1080px){
   .navbar_desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
   } 

   .navList {
    margin: 0 20px;
   }
   .navbar_phone {
    visibility: hidden;
   }
   .navbar_contact {
    margin: 0;
   }

}