.management  > p {
	padding: 20px 10px;
	text-align: center;
}	




.management_section {
	width: 100%;
    padding: 2em 1em;
}

.management_section > span {
	color: #585858;
}

.management_section > p {
	padding: 10px 0;
}

.social_icons {
	margin: 5px 0;
}

.icon {
	color: black;
	margin: 0 10px;
}



@media screen and  (min-width:801px) and (max-width:1080px){
    
}

@media screen and  (min-width:1080px){
    .management_section {
		padding: 3em 15em;
	}
    
}
