.management {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #e2e2e2;
	padding: 50px 0;
	font-size: 1.1em;
}

.management_section {
	background-color: white;
	/* width: 80%; */
	margin: 15px 20px;
    /* padding: 25px; */
	font-size: 0.8em;
	border-radius: 4px;
}

.management_section > div {
    background: #36454F;
	color: white;
	padding: 25px;
}
.management_section > div > div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
}

.management_section > span {
	color: #585858;
}

.management_section > p {
	padding: 25px;
}

.social_icons {
	margin: 5px 0;
}

.icon {
	color: white;
	margin: 0 10px;
}



@media screen and  (min-width:801px) and (max-width:1080px){
    
}

@media screen and  (min-width:1080px){
    .management {
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	.management_section {
		width: 550px;
	}
	
}
