.Projects {
	display: flex;
	flex-direction: column;
	padding: 50px 0;
}

.Projects>h1 {
	text-align: center;
}


.section_one {
	margin: 40px auto;
	height: 100vh;
	padding-top: 100px;
}

.section_one>p {
	font-size: 40px;
	max-width: 1000px;
}


.section_one>b {
	margin: 10px 0;
}

.section_two {
	display: flex;
	height: 100vh;
	background-color: aliceblue;
}

.section_two_left {
	flex: 0.5;
	margin: auto 10px;
	/* width: 300px; */
}

.section_two_left>h2 {
	font-size: 2em;
}

.section_two_left>p {
	padding: 20px 0;
	width: 70%;
	font-size: 1.5em;
}

.section_two_left>b {
	width: 70%;
	font-size: 1.1em;
}

.section_two_left> button {
	border: 2px solid #FF4240;
	color: #FF4240;
	border-radius: 8px;
	padding: 0.5em 0.5em;
	margin: 20px 0;
	font-size: 1.3em;
}

.section_two_right {
	flex: 0.5;
	width: 100%;
	background-image: url('https://images.unsplash.com/photo-1611162242122-da5879b25e55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNoYXJnaW5nJTIwZXZ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
	background-size: cover;
}

.section_two_right > img {
	position: inherit;
	width: 100vh;
}
