.About {
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
/*    background: rgb(237, 236, 236);*/
    background-image: url('https://images.unsplash.com/photo-1593941707882-a5bba14938c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZXYlMjBjaGFyZ2luZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=2000&q=60');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
/*    background: rgba(0, 0, 0, 0.6);*/
    width: 100%;
}

.about_heading {
    margin: 10px 0;
    font-size: 3em;
    font-weight: 600;
}

.about_para {
    padding: 25px 10px;
    line-height: 30px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
}

.about_learnmore {
    border: 1px solid #FF4240;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    color: #FF4240;
    background: transparent;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
}

.about_learnmore:hover {
    background: #FF4240;
    color: white;
}

.About > img {
    display: none;
    border-radius: 8px;
    width: 500px;
    height: 500px;
}




@media screen and  (min-width:300px) and  (max-width:800px){
   
}


@media screen and  (min-width:801px) and (max-width:1080px){
   .about_content {
        width: 600px;
    }
  }

@media screen and  (min-width:1081px) {
    .about_content {
        width: 600px;
    }
}
