@import url('https://fonts.cdnfonts.com/css/d-din');

.privacy{
    font-family: 'D-DIN', sans-serif;
    font-size: 30px;
}
.main-pri-div{
    width: 87.5%;
    margin: 5em auto;
}
.main-pri-div p{
    font-size: 0.55em;
}
.main-pri-div ul li{
    font-size: 0.55em;
}
.main-pri-div h2{
    font-size: 1em;
}
.main-pri-div h1{
    font-size: 1em;
}
.main-pri-div h3{
    font-size: 1.25em;
    color: #5a5a5a;
}

.main-margin{
    margin-top: 2.5em;
}

@media (min-width:768px) and (max-width:1080px){
    .one-sec-div-main-wrap{
      grid-row: 1/8;
    }
  }
  @media (min-width:1081px) and (max-width:1200px){
    .one-sec-div-main-wrap{
      grid-row: 1/6;
    }
  }