.media_section {
    width: 90%;
    margin: 0 auto;
    padding: 5em 0;
}

.media_section > h1 {
    font-size: 1.3em;
}

.media_section > p {
    font-weight: 500;
    margin: 10px 0;
}

.media_section span {
    color: rgba(0, 0, 0, 0.7);
}

hr {
    margin: 0 auto;
    width: 95%;
}


@media screen and  (min-width:300px) and  (max-width:800px){
   
}


@media screen and  (min-width:801px) and (max-width:1080px){

}

@media screen and  (min-width:1080px) and (max-width:1400px){
    
}