.media_section {
    padding: 4em 0;
    padding: 20px;
}


.media_section > p {
    margin: 10px 0;
}

.media_section span {
    color: rgba(0, 0, 0, 0.7);
}

hr {
    margin: 0 auto;
    width: 95%;
}

@media screen and  (min-width:801px) and (max-width:1080px){
    .media_section {
        padding: 20px 200px;
    }
}

@media screen and  (min-width:1081px) {
    .media_section {
        padding: 20px 300px;
    }
}